html,body{
    background-color: #F7F7F7 ;
    height: 100%;
    text-align: center;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.mainColor{
    background-color: #393A3A;
}

.supColor{
    background-color: #FF642F;
}

.border{
    border:1px solid #F89344;
}

.border:hover{
    border:2px solid #F89344;
}

.Pbtn{
    background-color: #74BEDF;
    border-radius: 4px;
}

.fbtn{
    background-color: #F4F4FD;
    border-radius: 4px;
}

.back{
    display: inline-flex;
    width: 10%;
}

.arrow{
    float: right;
    margin: 3px; 
}

.slogan1{
    font-size: 4ex;
    color: #FF642F;
    margin: auto;
    font-weight: bold;
}